html {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(210, 255, 210);
  color: rgb(80, 80, 80);
}

button {
  display: inline-block;
  float: left;
  width: 150px;
  text-align: center;
  background: rgb(190, 255, 190);
  border-color: rgb(150, 255, 150);
  color: rgb(80, 80, 80);
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: 16px;
}

