p {
  border-color: black;
  border-width: thin;
  border: solid;
}

img {
  display: block;
  height: 300px;
  width: 300px;
}

button {
  display: inline-block;
  float: left;
  width: 150px;
  text-align: center;
  background: rgb(40,40,45);
  border-color: tan;
  color: tan;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: 16px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

html {
  background-color: rgb(50, 50, 55);
  color: tan;
  font-family: 'Open Sans', sans-serif;
}
